$primary-color: #FA934D;
$secondary-color: #154744;
$light-yellow-color: #FBF2EB;
$light-blue-color: #E7F4FF;

$opacity-color: rgba(240, 132, 130, 0.5);
$gradient-color: linear-gradient(90deg, #2D2D2D -25.52%, #FF7F00 63.32%);

$white-color: #FFFFFF;
$black-color: #000000;

$text-black: #2D2D2D;
$text-white: rgba(#2D2D2D, 0.6);

$transition: 0.3s all ease;

$placeholder: rgba(45, 45, 45, 0.5);

$font-family: "DM Sans", sans-serif;
$emerland: 'Emerland';