*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* =================== FONT-FAMILY =================== */
/* Emerland */
@font-face {
  font-family: "Emerland";
  src: url("../fonts/EmerlandRegular.woff2") format("woff2"), url("../fontsEmerlandRegular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
body {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-weight: normal;
  position: relative;
  overflow-x: hidden;
  background-color: #FFFFFF;
}

html {
  scroll-behavior: smooth !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

main {
  flex: 1 0 auto;
  position: relative;
}

button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.img-wrapper {
  line-height: 0;
}

img {
  max-width: 100%;
  line-height: 0;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #154744 !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 1920px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 1920px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1920px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1920px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1920px;
  }
}

section {
  padding: 50px 0px;
}

.title-box h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.top-bar {
  padding: 10px 0px;
  background-color: #7E1518;
}
.top-bar ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 1199px) {
  .top-bar ul {
    gap: 18px;
  }
}
.top-bar ul li a {
  transition: 0.3s all ease;
}
.top-bar ul li a .img-wrapper {
  transition: 0.3s all ease;
}
.top-bar ul li a .img-wrapper img {
  transition: 0.3s all ease;
  width: 18px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(359deg) brightness(105%) contrast(104%);
}
.top-bar ul li a:hover {
  opacity: 0.8;
}
.top-bar .announcement-main-bar .swiper-wrapper {
  height: auto;
  align-items: center;
}
.top-bar .announcement-main-bar .swiper-wrapper .swiper-slide p {
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
}
@media (max-width: 1199px) {
  .top-bar .announcement-main-bar .swiper-wrapper .swiper-slide p {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .top-bar .announcement-main-bar .swiper-wrapper .swiper-slide p {
    font-size: 12px;
  }
}

h1 {
  font-size: 30px;
}
@media (max-width: 1199px) {
  h1 {
    font-size: 26px;
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 16px;
  }
}

.banner-wrapper {
  position: relative;
  border-radius: 20px;
}
.banner-wrapper .carousel-control-prev,
.banner-wrapper .carousel-control-next {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
}
.banner-wrapper .carousel-control-prev {
  transform: translateX(-30px);
}
.banner-wrapper .carousel-control-next {
  transform: translateX(30px);
}
.banner-wrapper:hover .carousel-control-prev,
.banner-wrapper:hover .carousel-control-next {
  opacity: 1;
  transform: translateX(0);
}
.banner-wrapper .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.collection-wrapper .collection-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}/*# sourceMappingURL=app.css.map */