*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* =================== FONT-FAMILY =================== */
body {
  box-sizing: border-box;
  font-family: "Emerland";
  font-weight: normal;
  position: relative;
  overflow-x: hidden;
  background-color: #FFFFFF;
}

html {
  scroll-behavior: smooth !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

main {
  flex: 1 0 auto;
  position: relative;
}

button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.img-wrapper {
  line-height: 0;
}

img {
  max-width: 100%;
  line-height: 0;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #154744 !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 1920px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 1920px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1920px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1920px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1920px;
  }
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../../fonts/Gilroy-Bold.woff2") format("woff2"), url("../../fonts/Gilroy-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../../fonts/Gilroy-Regular.woff2") format("woff2"), url("../../fonts/Gilroy-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../../fonts/Gilroy-Medium.woff2") format("woff2"), url("../../fonts/Gilroy-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
.section-gap-p {
  padding: 50px 0px;
}

.section-gap-pt {
  padding-top: 50px;
}

.section-gap-pb {
  padding-bottom: 50px;
}

.section-gap-m {
  margin: 50px 0px;
}

.section-gap-mt {
  margin-top: 50px;
}

.section-gap-mb {
  margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gilroy-Bold";
}

.title-box h2 {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}
@media (max-width: 1199px) {
  .title-box h2 {
    margin-bottom: 36px;
  }
}
@media (max-width: 991px) {
  .title-box h2 {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .title-box h2 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .title-box h2 {
    font-size: 24px;
    margin-bottom: 26px;
  }
}

.top-bar {
  padding: 10px 0px;
  background-color: #7E1518;
}
.top-bar ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 1199px) {
  .top-bar ul {
    gap: 18px;
  }
}
.top-bar ul li a {
  transition: 0.4s all ease;
}
.top-bar ul li a .img-wrapper {
  transition: 0.4s all ease;
}
.top-bar ul li a .img-wrapper img {
  transition: 0.4s all ease;
  width: 18px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(359deg) brightness(105%) contrast(104%);
}
.top-bar ul li a:hover {
  opacity: 0.8;
}
.top-bar .announcement-main-bar .swiper-wrapper {
  height: auto;
  align-items: center;
}
.top-bar .announcement-main-bar .swiper-wrapper .swiper-slide p {
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
}
@media (max-width: 1199px) {
  .top-bar .announcement-main-bar .swiper-wrapper .swiper-slide p {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .top-bar .announcement-main-bar .swiper-wrapper .swiper-slide p {
    font-size: 12px;
  }
}

header {
  padding: 12px 0px;
  text-align: center;
}
header .main-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .main-header-wrapper .navbar {
  padding: 0px;
}
header .main-header-wrapper .navbar .navbar-toggler {
  padding: 8px;
  width: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
header .main-header-wrapper .navbar .navbar-toggler:focus {
  border: none;
  box-shadow: none;
}
header .main-header-wrapper .navbar .navbar-toggler span {
  background-color: #000000;
  height: 2px;
  border-radius: 10px;
}
header .main-header-wrapper .navbar .navbar-toggler span:nth-child(1) {
  width: 70%;
}
header .main-header-wrapper .navbar .navbar-toggler span:nth-child(2) {
  width: 100%;
}
header .main-header-wrapper .navbar .navbar-toggler span:nth-child(3) {
  width: 50%;
}
header .main-header-wrapper .offcanvas {
  height: calc(100% - 40px);
  top: 50%;
  transform: translateY(-50%);
  left: -100%;
  transition: 0.4s all ease;
  border-radius: 16px;
  padding: 20px 30px;
}
header .main-header-wrapper .offcanvas.show {
  left: 10px;
}
header .main-header-wrapper .offcanvas .offcanvas-wrapper {
  position: relative;
}
header .main-header-wrapper .offcanvas .offcanvas-wrapper .btn-close {
  position: absolute;
  right: 0%;
  top: 0%;
}
header .main-header-wrapper .offcanvas .offcanvas-wrapper .btn-close:focus {
  box-shadow: unset;
}
header .main-header-wrapper .offcanvas .offcanvas-wrapper .offcanvas-body {
  padding: 0;
}
header .main-header-wrapper .offcanvas .offcanvas-wrapper .offcanvas-body ul {
  padding-top: 30px;
}
header .main-header-wrapper .offcanvas .offcanvas-wrapper .offcanvas-body ul li {
  text-align: start;
  padding: 6px 0px;
}
header .main-header-wrapper .offcanvas .offcanvas-wrapper .offcanvas-body ul li a {
  transition: 0.4s all ease;
  position: relative;
  font-size: 18px;
  color: #000000;
  transition: 0.4s all ease;
}
header .main-header-wrapper .offcanvas .offcanvas-wrapper .offcanvas-body ul li a::before {
  position: absolute;
  content: "";
  background-color: #7E1518;
  transition: 0.4s all ease;
  width: 0%;
  height: 1px;
  border-radius: 20px;
  left: 0;
  bottom: -6px;
}
header .main-header-wrapper .offcanvas .offcanvas-wrapper .offcanvas-body ul li a:hover {
  color: #7E1518;
}
header .main-header-wrapper .offcanvas .offcanvas-wrapper .offcanvas-body ul li a:hover::before {
  width: 100%;
}
header .main-header-wrapper .offcanvas-search {
  right: -100%;
  left: unset;
}
header .main-header-wrapper .offcanvas-search.show {
  left: unset;
  right: 10px;
}
header .main-header-wrapper .offcanvas-search .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #000000;
}
header .main-header-wrapper .offcanvas-search .form-group .form-control {
  width: 90%;
  border: unset;
  padding: 0px;
}
header .main-header-wrapper .offcanvas-search .form-group .form-control:focus {
  border: unset;
  box-shadow: unset;
}
header .main-header-wrapper .icon-bar {
  display: flex;
  align-items: center;
  gap: 24px;
}
header .main-header-wrapper .logo {
  margin-left: 120px;
  max-width: 120px;
}
header .main-header-wrapper .icon-bar button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: 0.4s all ease;
  border-radius: 50%;
}
header .main-header-wrapper .icon-bar button::before {
  transition: 0.4s all ease;
  background-color: #7E1518;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: 0;
}
header .main-header-wrapper .icon-bar button:hover img {
  filter: brightness(100);
}
header .main-header-wrapper .icon-bar button:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}
header .main-header-wrapper .icon-bar button img {
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 30px;
}
@media (max-width: 1199px) {
  h1 {
    font-size: 26px;
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 16px;
  }
}

.banner-sec .banner-slider-wrapper {
  position: relative;
  border-radius: 20px;
  overflow-x: hidden;
}
.banner-sec .banner-slider-wrapper .carousel-control-prev,
.banner-sec .banner-slider-wrapper .carousel-control-next {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  padding: 14px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1;
  width: 60px;
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1199px) {
  .banner-sec .banner-slider-wrapper .carousel-control-prev,
  .banner-sec .banner-slider-wrapper .carousel-control-next {
    width: 50px;
    height: 50px;
    padding: 12px;
  }
}
@media (max-width: 576px) {
  .banner-sec .banner-slider-wrapper .carousel-control-prev,
  .banner-sec .banner-slider-wrapper .carousel-control-next {
    width: 34px;
    height: 34px;
    padding: 8px;
  }
}
.banner-sec .banner-slider-wrapper .carousel-control-prev {
  left: -100px;
}
.banner-sec .banner-slider-wrapper .carousel-control-prev img {
  transform: rotate(-180deg);
}
.banner-sec .banner-slider-wrapper .carousel-control-next {
  right: -100px;
}
.banner-sec .banner-slider-wrapper:hover .carousel-control-prev,
.banner-sec .banner-slider-wrapper:hover .carousel-control-next {
  opacity: 1;
}
.banner-sec .banner-slider-wrapper:hover .carousel-control-prev {
  left: 20px;
}
.banner-sec .banner-slider-wrapper:hover .carousel-control-next {
  right: 20px;
}
.banner-sec .banner-slider-wrapper .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.collection-sec .collection-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}
@media (max-width: 767px) {
  .collection-sec .collection-main {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.collection-sec .collection-main .collection-card {
  transition: 0.4s all ease;
  border-radius: 16px;
  overflow: hidden;
  height: 100%;
}
.collection-sec .collection-main .collection-card:hover a .img-wrapper img {
  transform: scale(1.1);
}
@media (max-width: 767px) {
  .collection-sec .collection-main .collection-card:nth-child(even) {
    margin-top: 20px;
  }
}
.collection-sec .collection-main .collection-card a {
  width: 100%;
  height: 100%;
}
.collection-sec .collection-main .collection-card .img-wrapper {
  width: 100%;
  height: 100%;
}
.collection-sec .collection-main .collection-card .img-wrapper img {
  transition: 0.4s all ease;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1);
}/*# sourceMappingURL=app.css.map */