.top-bar {
    padding: 10px 0px;
    background-color: $primary-color;

    ul {
        display: flex;
        align-items: center;
        gap: 24px;

        @media (max-width:1199px) {
            gap: 18px;
        }

        li {
            a {
                transition: $transition;

                .img-wrapper {
                    transition: $transition;

                    img {
                        transition: $transition;
                        width: 18px;
                        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(359deg) brightness(105%) contrast(104%);
                    }
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .announcement-main-bar {

        .swiper-wrapper {
            height: auto;
            align-items: center;

            .swiper-slide {
                p {
                    text-align: center;
                    color: $white-color;
                    font-size: 16px;

                    @media (max-width:1199px) {
                        font-size: 14px;
                    }

                    @media (max-width:576px) {
                        font-size: 12px;
                    }
                }
            }
        }

    }
}


header {
    // position: fixed;
    transition: .3s all;

    &.sticky-menu {
        position: sticky;
        background: $white-color;
        box-shadow: 0px 4px 10px rgba($black-color, .4);
        top: 0px;
        z-index: 999;
    }


    .main-header-block {
        border-bottom: 1px solid rgba(45, 45, 45, 0.15);

        .main-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            position: relative;

            @media (max-width:575px) {
                padding: 15px 0;
            }

            .search-icon{
                @media (max-width:767px) {
                    width: 20px;
                }
            }

            .logo {
                img {
                    
                    @media(max-width: 991px) {
                        max-width: 130px;
                    }
                    @media(max-width: 767px) {
                        max-width: 120px;
                        margin-left: 70px;
                    }
                    @media(max-width: 575px) {
                        max-width: 80px;
                        margin-left: 40px;
                    }
                }
            }



            .icon-box {
                .cart-icon {
                    position: relative;

                    span {
                        background-color: #FF8D18;
                        box-shadow: 0px 10px 20px rgba(255, 128, 0, 0.2);
                        position: absolute;
                        // font-family: $font-family;
                        font-weight: 700;
                        font-size: 10px;
                        line-height: 1.5;
                        color: $white-color;
                        width: max-content;
                        height: auto;
                        border-radius: 50%;
                        right: -1px;
                        top: 5px;
                        width: 14px;
                        height: 14px;
                        @include center;

                        @media(max-width: 575px) {
                            font-size: 10px;
                            right: -5px;
                            top: -5px;
                        }
                    }
                }

                .search-icon,
                .contact-icon,
                .cart-icon {
                    line-height: 0;
                    padding: 0 10px;

                    @media(max-width: 575px) {
                        padding: 0 5px;
                    }

                    &::after {
                        display: none;
                    }

                    @media (max-width: 767px) {
                        img {
                            width: 20px;
                        }
                    }
                }

                .dropdown-contact {
                    cursor: pointer;
                    position: relative;

                    .dropdown-menu {
                        width: 100%;
                        min-width: max-content;
                        max-width: max-content;
                        background: $white-color;
                        position: absolute;
                        top: 60px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        padding: 15px;
                        border-top: 2px solid $primary-color;
                        opacity: 0;
                        z-index: -1;
                        transition: all 0.3s ease;
                        box-shadow: 0px 4px 10px rgb(96 96 96 / 16%);

                        @media (max-width: 575px) {
                            top: 40px;
                        }

                        &[data-bs-popper] {
                            opacity: 1;
                            left: 0;
                            right: 0 !important;
                            z-index: 5;
                        }

                        &.show {
                            opacity: 1;
                            z-index: 99;
                        }

                        .dropdown-link {
                            display: block;
                            width: 100%;
                            max-width: max-content;
                            // font-family: $font-family;
                            color: $black-color;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: normal;
                            margin: 0 0 10px;
                            padding: 0 0 10px;
                            border-bottom: 1px solid $secondary-color;

                            @media (max-width: 991px) {
                                font-size: 15px;
                            }

                            @media (max-width: 575px) {
                                font-size: 14px;
                            }

                            &:last-child {
                                margin: 0;
                                padding: 0;
                                border: 0;
                            }

                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }

            // .navbar-toggler {
            //     padding-right: 0;
            //     padding: 10px;
            //     display: none;

            //     @media(max-width: 1199px) {
            //         display: block;
            //     }

            //     @media(max-width: 575px) {
            //         padding: 5px;
            //     }

            //     &:focus {
            //         box-shadow: none;
            //     }

            //     .hamburger {
            //         display: block;

            //         .bar {
            //             width: 30px;
            //             height: 3px;
            //             background-color: $primary-color;
            //             display: block;
            //             margin: 5px auto;
            //             transition: all 0.3s ease-in-out;

            //             @media(max-width: 575px) {
            //                 width: 20px;
            //                 margin: 3px auto;
            //             }
            //         }
            //     }
            // }

            #dropBlock_wrapper {
                margin-left: auto;
                padding-right: 0;
            }

            .navbar-toggler {
                padding-right: 0;
                padding: 10px;
                display: none;

                @media(max-width: 1199px) {
                    display: block;
                }

                @media(max-width: 575px) {
                    padding: 5px;
                }

                &:focus {
                    box-shadow: none;
                }

                .hamburger {
                    display: block;
                    width: 30px;

                    @media(max-width: 575px) {
                        width: 20px;
                    }

                    .bar {
                        height: 2px;
                        background-color: $primary-color;
                        display: block;
                        margin: 5px 0px;
                        transition: all 0.3s ease-in-out;
                        text-align: start;

                        @media(max-width: 575px) {
                            width: 20px;
                            margin: 3px 0px;
                        }

                        &:nth-child(1) {
                            width: 80%;
                        }


                        &:nth-child(3) {
                            width: 60%;
                        }
                    }
                }



                // @media (max-width: 767px) {
                //     &.active {
                //         span {
                //             &:nth-child(1) {
                //                 transform: rotate(45deg) translate(6px, 6px);
                //                 width: 100%;
                //             }

                //             &:nth-child(2) {
                //                 opacity: 0;
                //                 width: 0%;
                //             }

                //             &:nth-child(3) {
                //                 transform: rotate(-45deg) translate(5px, -5px);
                //                 width: 100%;
                //             }
                //         }
                //     }
                // }
            }

        }
    }

    nav {
        padding: 20px 0 !important;

        &.nav-scroll {

            background: transparent;
            border: 1px solid transparent;
            // -webkit-backdrop-filter: blur(33.5px);
            // backdrop-filter: blur(0px);
            padding: 20px 0;
            max-width: 1320px;
            margin: auto;

            @media(max-width:991px) {
                padding: 0 !important;
                // backdrop-filter: none;
                border: none;
            }
        }

        .navbar-nav {
            height: 100%;

            .nav-item {
                @media (max-width:576px) {
                    width: 100%;
                    text-align: left;
                }

                .nav-link {
                    padding: 0 30px;
                    // font-family: $font-family;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;
                    color: $black-color;

                    @media(max-width: 1399px) {
                        padding: 0 20px;
                        font-size: 14px;
                    }

                    @media(max-width: 1199px) {
                        padding: 10px 10px 10px 50px;
                        font-size: 14px;
                    }

                    @media(max-width: 991px) {
                        color: $black-color;
                        text-align: left;
                    }

                    @media(max-width: 576px) {
                        text-align: left;
                        // padding: 10px 10px 10px 50px;
                    }

                    &:hover,
                    &.active {
                        color: $primary-color;
                    }

                    &.dropdown-toggle {
                        &::after {
                            margin-left: 5px;
                            vertical-align: middle;
                            content: "";
                            background-image: url('../images/icons/dropdown-arrow.svg');
                            background-repeat: no-repeat;
                            width: 10px;
                            height: 6px;
                            transition: $transition;

                            @media(max-width: 991px) {
                                background-image: url('../images/icons/dropdown-arrow.svg');
                            }
                        }

                    }

                    &[aria-expanded="true"] {
                        &.dropdown-toggle {
                            &::after {
                                border: none;
                                background-image: url('../images/icons/dropdown-arrow-active.svg');
                            }
                        }
                    }
                }

                .dropdown-menu {
                    background-color: $white-color;
                    border: none;
                    border-radius: 0px;
                    display: block;
                    visibility: hidden;
                    opacity: 0;
                    height: 0;
                    transition: $transition;
                    top: 45px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    max-width: 150px;
                    margin: 0;
                    padding: 0;

                    @media (max-width:576px) {
                        left: 50px;
                    }

                    &[data-bs-popper] {
                        height: auto;
                        opacity: 1;
                        visibility: visible;
                        // padding: 10px 25px;
                    }

                    @media(max-width: 991px) {
                        position: inherit;
                        margin: 0;
                        padding: 0;
                        border-top-left-radius: 0px;
                        right: 0;
                        top: 0;
                        width: 220px;

                        &[data-bs-popper] {
                            top: 0;
                            // margin-top: 10px;
                            left: 50px;
                            transform: none;
                        }
                    }

                    .dropdown-body {
                        padding: 20px;
                        border-top: 2px solid $primary-color;
                        box-shadow: 0px 4px 10px rgb(96 96 96 / 16%);
                        min-height: 320px;
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            top: -12px;
                            left: 50%;
                            transform: translateX(-50%);
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid $primary-color;
                            border-left: 10px solid transparent;

                            @media(max-width: 991px) {
                                left: 10px;
                                transform: none;
                            }
                        }

                        @media(max-width: 991px) {
                            padding: 10px;
                            box-shadow: none;
                        }

                        .dropListed {
                            width: max-content;
                            padding-right: 30px;
                            margin-right: 30px;

                            @media(max-width: 991px) {
                                border-right: 0;
                                // border-bottom: 1px solid $primary-color;
                                width: 100%;
                                padding-left: 0;
                                margin-right: 0;
                                padding-right: 0;
                            }
                        }
                    }

                    .dropdown-box {
                        height: 100%;
                        display: inline-block;

                        @media(max-width: 991px) {
                            width: 100%;
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            row-gap: 14px;
                        }

                        h5 {
                            @media(max-width: 991px) {
                                text-align: center;
                            }

                            a {
                                padding: 15px 0;
                                // font-family: $font-family;
                                font-weight: 900;
                                font-size: 16px;
                                line-height: 1.5;
                                color: $black-color;
                                display: inline-block;

                                @media (max-width:576px) {
                                    text-align: left;
                                    width: 100%;
                                    padding: 15px;
                                }

                                &:hover {
                                    color: $primary-color;
                                }
                            }
                        }
                    }

                    .dropdown-item {
                        // margin-bottom: 10px;
                        padding: 0 5px;
                        // font-family: $font-family;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 1.5;
                        color: $black-color;

                        &:hover,
                        &:focus {
                            color: $primary-color;
                            background-color: transparent;
                        }

                        &:active,
                        &.active {
                            color: $primary-color;
                        }

                        @media (max-width: 991px) {
                            text-align: left;
                            padding: 0 15px;
                        }
                    }
                }
            }
        }

        .offcanvas {
            border: none;

            @media(max-width: 1199px) {
                background-color: $white-color;

                .btn-close {
                    box-shadow: none;
                }
            }

            @media (max-width:576px) {
                width: 100%;
            }

            .offcanvas-header {
                position: relative;

                .logo {
                    img {
                        @media (max-width:1199px) {
                            max-width: 120px;
                        }
                    }
                }

                &::before {
                    @media (max-width:576px) {
                        position: absolute;
                        content: "";
                        height: 1px;
                        width: 94%;
                        margin: 0 auto;
                        background-color: rgba(45, 45, 45, 0.15);
                        bottom: 0;
                    }
                }
            }
        }
    }
}